@media (max-width:576px) {
  #container {
     width: 100%;
     max-width: 95%;
     margin: 0 auto;
  }
  .navbar .nav-item {
    display: none;
  }
  .banner-content h1 {
    font-size: 40px ;
  }
  .btn-primary {
     font-size: 1rem;
  }
  /* teams section */
  .teams-parent {
     flex-direction: column;
     gap: 30px;
  }

  .teams-parent .teams-img-area  {
     grid-template-columns: repeat(1,1fr);
  }
  .teams-parent .teams-img-area img {
    width: 100%;
  }
  .teams-content-area {
     text-align: center;
  }
  .features-area {
   flex-direction: column;
   gap: 20px;
  }
  .features-area img {
    max-width: 100%;
  }
  .feature-intro-area h2 {
    font-size: 40px;
}
#exprience-bedge {
    padding: 30px 42px;
    margin-top: -100px;
    margin-left: 15px;
}

.card-container  {
    grid-template-columns: repeat(1,1fr);
}
}
@media (min-width:577px) and (max-width:992px) {
  #container {
     width: 100%;
     max-width: 95%;
     margin: 0 auto;
  }
  .navbar .nav-item {
    display: none;
  }
   .teams-parent {
     flex-direction: column;
     gap: 30px;
  }
  .teams-content-area {
     text-align: center;
  }

  .features-area {
   flex-direction: column;
   gap: 20px;
  }

   .features-area img {
    max-width: 100%;
  }
  #exprience-bedge {
    padding: 30px 42px;
    margin-top: -100px;
    margin-left: 13px;
}
.card-container  {
    grid-template-columns: repeat(2,1fr);
}
}