@media (max-width:576px) {
  #container {
     width: 100%;
     max-width: 95%;
     margin: 0 auto;
  }
  .navbar .nav-item {
    display: none;
  }
  .banner-content h1 {
    font-size: 40px ;
  }
  .btn-primary {
     font-size: 1rem;
  }
  /* teams section */
  .teams-parent {
     flex-direction: column;
  }

  .teams-parent .teams-img-area  {
     grid-template-columns: repeat(1,1fr);
  }
  .teams-parent .teams-img-area img {
    width: 100%;
  }
  .teams-content-area {
     text-align: center;
  }
}
@media (min-width:576px) and (max-width:992px) {
  #container {
     width: 100%;
     max-width: 95%;
     margin: 0 auto;
  }
  .navbar .nav-item {
    display: none;
  }
   .teams-parent {
     flex-direction: column;
  }

  .teams-content-area {
     text-align: center;
  }
}